<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>textutils</title>
</head>
<body>
<h1>welcome to the textanalyzer. enter the text below</h1>
<form action = "/analyse" method="get">
    <textarea name="text" style="height: 166px; width: 1120px;">type your text</textarea></br>
    <input type="checkbox" name = 'removepunc'> remove punctuations<br>
    <input type="checkbox" name = 'fullcaps'> UPPERCASE<br>
    <input type="checkbox" name = 'newlineremover'> newlineremover<br>
    <button type="submit">analyze text </button>


</body>
</html>
